name: Create release

on:
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
  repository_dispatch:
    types:
      - new_upstream_version
  workflow_call:
    inputs:
      upstream_version:
        description: The upstream version
        required: false
        type: string
  workflow_dispatch:

permissions:
  contents: write

env:
  GIT_USER_NAME: Fra Bot
  GIT_USER_EMAIL: fragoibot@gmail.com
  DEBPACKAGE: hello-world

jobs:

  release:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.exportVersion.outputs.NEW_VERSION }}
    steps:
      - uses: actions/checkout@v6
      - uses: fragoi/bash-actions@v2
      - name: Create release
        run: |
          debNewVersion "${{ inputs.upstream_version || github.event.client_payload.upstream_version }}"
      - name: Export version
        id: exportVersion
        run: |
          outputSharedVars NEW_VERSION

  notify-ppa:
    needs: release
    runs-on: ubuntu-latest
    continue-on-error: true
    if: ${{ needs.release.outputs.new_version }}
    strategy:
      matrix:
        dist:
          - name: noble
            rev: '24.04'
          - name: questing
            rev: '25.10'
          - name: resolute
            rev: '26.04'
    steps:
      - uses: fragoi/bash-actions@v2
      - name: Notify PPA repository
        env:
          NEW_VERSION: ${{ needs.release.outputs.new_version }}
          GITHUB_TOKEN: ${{ secrets.PPA_TOKEN }}
        run: |
          repositoryDispatch fragoi/ppa-publish \
            -f event_type=quilt \
            -f client_payload[package]=${DEBPACKAGE} \
            -f client_payload[version]=${NEW_VERSION} \
            -f client_payload[dist]=${{ matrix.dist.name }} \
            -f client_payload[distrev]=${{ matrix.dist.rev }}
