name: Upgrade upstream version

on:
  workflow_dispatch:
  schedule:
    - cron: '30 8 * * *'

permissions:
  contents: write

jobs:

  update:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.newUpstreamVersion.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - uses: fragoi/bash-actions@v2
      - name: Check for updates
        id: newUpstreamVersion
        run: |
          newUpstreamVersion=$(
            peelTags \
              --remote=${GITHUB_SERVER_URL}/fragoi/hello-world.git \
              --globFilter='v*' \
              --regexFilter='v[0-9.]+' \
              | debFilterNextUpver \
          )
          output version="$newUpstreamVersion"

  upgrade:
    needs: [update]
    if: ${{ needs.update.outputs.version }}
    uses: './.github/workflows/main.yml'
    with:
      upstream_version: ${{ needs.update.outputs.version }}
